.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #C7D0D9;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow-x: hidden;
}  

.hero img {
    max-height: 95%;
    max-width: 80%;
}